@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #ffefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c4c4c4;
    --foreground: #ff8f8f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
